<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout(~{::main})}">
<body>

<main>
    <script>

    </script>
    <h1>Postings</h1>

    <input type="hidden" id="transData" th:value="${transList}">
    <div class="card mb-3">
        <h5 class="card-header">Transaction List</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Transaction Ref</th>
                    <th>Timestamp</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="trans : ${transList}" class="transRow">
                    <td class="transRef" th:text="${trans.transRef}"></td>
                    <td class="action" th:text="${trans.transRef}"></td>
                    <td>
                        <button type="button" class="selectButton btn btn-primary">Select</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr/>



</main>
</body>

</html>
